<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangyouwang.crud.app.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="io.github.yangyouwang.crud.app.entity.Category">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="order_num" jdbcType="INTEGER" property="orderNum" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, icon, order_num, parent_id, create_by, create_time,
    update_by, update_time, remark
    </sql>
    <select id="info" resultMap="BaseResultMap">
        select
            ac.id, ac.name, ac.icon, ac.order_num, ac.parent_id, ac.create_by, ac.create_time,
            ac.update_by, ac.update_time, ac.remark, child.name as parent_name
        from app_category ac
        left join app_category child on ac.parent_id = child.id
        where ac.id = #{id}
    </select>
</mapper>
