<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangyouwang.crud.app.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="io.github.yangyouwang.crud.app.entity.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="app_type" jdbcType="VARCHAR" property="appType" />
    </resultMap>
    <sql id="Base_Column_List">
        id, nick_name, avatar, gender, birthday, mobile, email, status, create_time
    </sql>
    <select id="getUserList" resultMap="BaseResultMap">
        select
        u.id, u.nick_name, u.avatar, u.gender, u.birthday, u.mobile, u.email, u.status, u.create_time,
        group_concat(distinct o.app_type separator ',' ) as app_type
        from app_user u
        left join app_oauth o on u.id = o.user_id
        where 1 = 1
        <if test="ew != null">
            <if test="ew.nonEmptyOfWhere">
                AND
            </if>
            ${ew.sqlSegment}
        </if>
        group by u.id
    </select>
</mapper>
