<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>编辑新闻表</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-form layui-form-pane" lay-filter="newsForm" id="newsForm">
        <input type="hidden" name="id" id="id">
        <div class="layui-form-item" style="text-align: center">
            <input type="hidden" id="thumbnail" name="thumbnail" lay-verify="required">
            <div class="layui-upload">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" onclick="fun.preview(this)" id="upload-img" width="100px" height="100px">
                    <p id="upload-text"></p>
                </div>
                <button type="button" class="layui-btn" id="upload-btn">上传</button>
            </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">标题</label>
          <div class="layui-input-block">
            <input type="text" lay-verify="required" class="layui-input" name="title" placeholder="请输入标题"/>
          </div>
        </div>
        <div class="layui-form-item">
            <textarea id="content"></textarea>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="remark" placeholder="请输入备注"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">创建者</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="createBy" disabled="disabled"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="createTime" disabled="disabled"/>
                </div>
            </div>
        </div>
      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="save-submit" id="save-submit" value="确认">
      </div>
    </div>
  </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
     index: 'lib/index', //主入口模块
  }).use(['index', 'form', 'crud', 'upload', 'treeSelect'], function(){
    let $ = layui.$,
            form = layui.form,
            crud = layui.crud,
            news = [[${news}]],
            upload = layui.upload,
            treeSelect = layui.treeSelect;
    // 编辑器
    initEditor('content',news.content);
    // 图片
    $('#upload-img').attr('src', news.thumbnail);
    form.val('newsForm',news);
    // 编辑
    form.on('submit(save-submit)', function(data) {
      data.field.content = getEditorData();
      $.ajax({
        type: 'POST',
        url:  ctx + '/app/news/modify',
        data: JSON.stringify(data.field),
        contentType:'application/json;charset=UTF-8',
        dataType: 'json',
        success: function(result) {
          layer.msg(result.message);
          if (result.code === 200) {
            let index = parent.layer.getFrameIndex(window.name);
            // 关闭
            parent.layer.close(index);
            // 刷新
            parent.location.reload();
          }
        }
      });
    });
    //普通图片上传
    let uploadInst = upload.render({
      elem: '#upload-btn'
      ,url: ctx + '/common/uploadMinIo'
      ,before: function(obj){
        //预读本地文件示例，不支持ie8
        obj.preview(function(index, file, result){
          $('#upload-img').attr('src', result); //图片链接（base64）
        });
      }
      ,done: function(res) {
        if (res.code === 200) {
          $("#thumbnail").val(res.data.url);
          return layer.msg('上传成功');
        }
      }
      ,error: function() {
        //演示失败状态，并实现重传
        let uploadText = $('#upload-text');
        uploadText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        uploadText.find('.demo-reload').on('click', function(){
          uploadInst.upload();
        });
      }
    });
  });
</script>
</body>
</html>