<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>已办任务</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <form class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <button type="button" class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button type="reset" class="layui-btn layui-btn-primary" lay-submit lay-filter="reset">重置</button>
          </div>
        </div>
      </form>
      <div class="layui-card-body">
        <table id="historicTaskTable" lay-filter="historicTaskTable"></table>
      </div>
    </div>
  </div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
      index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function() {
    let $ = layui.$,
            form = layui.form,
            table = layui.table;
      //监听搜索
      form.on('submit(search)', function(data) {
        let field = data.field;
          //执行重载
          table.reload('historicTaskTable', {
              where: field
          });
      });
      //监听重置
      form.on('submit(reset)', function(data) {
        Object.keys(data.field).forEach(key => (data.field[key] = ''));
        table.reload('historicTaskTable', {
          where: data.field
        });
      });
      // 查询列表接口
      table.render({
          elem: '#historicTaskTable'
          ,height: 'full-110'
          ,url:  ctx + '/workFlow/historicTask'
          ,cellMinWidth: 80
          ,page: true //开启分页,
          ,cols: [[ //表头
              {type: 'checkbox', fixed: 'left'},
              {field: 'id', title: 'ID', hide:true},
          ]]
      });
  });
</script>
</body>
</html>
