<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>代办任务</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <form class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">代理人</label>
            <div class="layui-input-block">
              <input type="text" name="assignee" placeholder="请输入代理人" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button type="button" class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button type="reset" class="layui-btn layui-btn-primary" lay-submit lay-filter="reset">重置</button>
          </div>
        </div>
      </form>
      <div class="layui-card-body">
        <table id="toDoTaskTable" lay-filter="toDoTaskTable"></table>
        <script type="text/html" id="tableBar">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="approval">任务审批</a>
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="monitor">流程监控</a>
        </script>
      </div>
    </div>
  </div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
      index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function() {
    let $ = layui.$,
            form = layui.form,
            table = layui.table;
      //监听搜索
      form.on('submit(search)', function(data) {
        let field = data.field;
          //执行重载
          table.reload('toDoTaskTable', {
              where: field
          });
      });
      //监听重置
      form.on('submit(reset)', function(data) {
        Object.keys(data.field).forEach(key => (data.field[key] = ''));
        table.reload('toDoTaskTable', {
          where: data.field
        });
      });
      // 查询列表接口
      table.render({
          elem: '#toDoTaskTable'
          ,height: 'full-110'
          ,url:  ctx + '/workFlow/toDoTask'
          ,cellMinWidth: 80
          ,page: true //开启分页,
          ,cols: [[ //表头
            {field: 'id', title: 'ID', hide:true},
            {field: 'flowName', title: '流程名称'},
            {field: 'name', title: '节点名称'},
            {field: 'assignee', title: '代理人'},
            {field: 'createTime', title: '创建日期'},
            {toolbar: '#tableBar', title: '操作', width: 300, align:'center',fixed: 'right'}
          ]]
      });
      //监听行工具事件
      table.on('tool(toDoTaskTable)', function(obj) {
        let data = obj.data //获得当前行数据
                ,layEvent = obj.event;
        if(layEvent === 'approval'){
          active.approvalView(data.processInstanceId);
        } else if(layEvent === 'monitor'){
          active.monitorView(data.processInstanceId);
        }
      });
      /* 触发弹层 */
      let active = {
        /**
         * 任务审批
         * @param id 流程实例ID
         */
        approvalView: function (id) {
          layer.open({
            type: 2
            ,shade: 0.3
            ,title: '审批'
            ,content: ctx + '/workFlow/approvalPage?processInstanceId=' + id
            ,maxmin: true
            ,scrollbar: false
            ,area: ['100%', '100%']
            ,btn: ['确定', '取消']
            ,yes: function(index, layero){
              let submit = layero.find('iframe').contents().find('#save-submit');
              submit.trigger('click');
            }
          });
        },
        /**
         * 流程监控
         * @param id 流程实例ID
         */
        monitorView: function (id) {
          layer.open({
            type: 2
            ,shade: 0.3
            ,title: '流程监控'
            ,content: ctx + '/workFlow/monitorPage?processInstanceId=' + id
            ,maxmin: true
            ,scrollbar: false
            ,area: ['100%', '100%']
            ,btn: ['确定']
          });
        }
      }
  });
</script>
</body>
</html>
