<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>代码生成器</title>
    <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="codeConfigForm" id="codeConfigForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">数据库地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="url" lay-verify="required" placeholder="请输入数据库地址" class="layui-input layui-disabled" readonly="readonly">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">数据库驱动</label>
                    <div class="layui-input-inline">
                        <input type="text" name="driverName" lay-verify="required" placeholder="请输入数据库驱动" class="layui-input layui-disabled" readonly="readonly">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">数据库账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入数据库账号" class="layui-input layui-disabled" readonly="readonly">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">数据库密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" lay-verify="required" placeholder="请输入数据库密码" class="layui-input layui-disabled" readonly="readonly">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-inline">
                        <input type="text" name="author" lay-verify="required" placeholder="请输入作者" class="layui-input layui-disabled" readonly="readonly">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">模块名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="moduleName" lay-verify="required" placeholder="请输入模块名" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">表名</label>
                    <div class="layui-input-inline">
                        <select name="tables" id="tables" lay-verify="required" lay-search lay-filter="tables">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn" lay-submit lay-filter="save-submit" id="save-submit">生成代码</button>
                        <button type="button" class="layui-btn" lay-submit lay-filter="save-submit-zip" id="save-submit-zip">下载ZIP</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <table id="fieldList" lay-filter="fieldList"></table>
        </div>
    </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'form','crud', 'table'], function(){
        let $ = layui.$,
            form = layui.form,
            crud = layui.crud,
            table = layui.table,
            codeConfig = [[${codeConfig}]];
        form.val('codeConfigForm', codeConfig);
        $.ajax({
            url: ctx + '/sysCodeGenerator/tableSelect',
            dataType: 'json',
            type: 'get',
            success: function (result) {
                layer.msg(result.message);
                if (result.code === 200) {
                    $.each(result, function (index, value) {
                        $('#tables').append(new Option(value,value));
                    });
                    layui.form.render("select");
                }
            }
        })
        form.on('select(tables)', function(data) {
            $.ajax({
                url: ctx + '/sysCodeGenerator/fieldList?table='+data.value,
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    table.reload('fieldList',{
                        data
                    });
                }
            })
        })
        /**
         * 字段列表
         */
        table.render({
            elem: '#fieldList'
            ,cellMinWidth: 80
            ,height: 'full-110'
            ,cols: [
                [
                    {field: 'columnName', title: '字段名'},
                    {field: 'typeName', title: '字段类型'},
                    {field: 'columnSize', title: '字段长度'},
                    {field: 'remarks', title: '描述'}
                ]
            ]
            ,data: []
            ,even: true
        });
        form.on('submit(save-submit)', function(data) {
            $.ajax({
                type: 'POST',
                url:  ctx + '/sysCodeGenerator/build',
                data: JSON.stringify(data.field),
                contentType:'application/json;charset=UTF-8',
                dataType: 'json',
                success: function(result) {
                    layer.msg(result.message);
                }
            });
        });
        form.on('submit(save-submit-zip)', function(data) {
            let moduleName = data.field.moduleName;
            let tables = data.field.tables;
            $(location).attr('href',  ctx + '/sysCodeGenerator/buildZip?moduleName='+ moduleName + "&tables=" + tables);
        });
    });
</script>
</body>
</html>