<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>添加授权表</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-form" lay-filter="oauth_form" id="oauth_form">
        <div class="layui-form-item">
          <label class="layui-form-label">open_id</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="openId" placeholder="请输入open_id"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">类型 1 微信</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="appType" placeholder="请输入类型 1 微信"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">用户id</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="userId" placeholder="请输入用户id"/>
          </div>
        </div>
      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="save-submit" id="save-submit" value="确认">
      </div>
    </div>
  </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
     index: 'lib/index', //主入口模块
  }).use(['index', 'form','crud'], function(){
    let $ = layui.$,
            form = layui.form,
            crud = layui.crud;
    form.on('submit(save-submit)', function(data) {
      $.ajax({
        type: 'POST',
        url:  ctx + '/app/oauth/add',
        data: JSON.stringify(data.field),
        contentType:'application/json;charset=UTF-8',
        dataType: 'json',
        success: function(result) {
          layer.msg(result.message);
          if (result.code === 200) {
            let index = parent.layer.getFrameIndex(window.name);
            // 关闭
            parent.layer.close(index);
            // 刷新
            parent.location.reload();
          }
        }
      });
    });
  });
</script>
</body>
</html>