<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>编辑模型</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-form" lay-filter="act-model-form" id="act-model-form">
      <input type="hidden" name="id" id="id">
      <div class="layui-form-item">
        <label class="layui-form-label">模型名称</label>
        <div class="layui-input-inline">
          <input type="text" name="name" lay-verify="required" placeholder="请输入模型名称" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">KEY_</label>
        <div class="layui-input-inline">
          <input type="text" name="key" lay-verify="required" placeholder="请输入key" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">流程分类</label>
        <div class="layui-input-inline">
          <select lay-verify="required" name="category" id="category"></select>
        </div>
      </div>
      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="save-submit" id="save-submit" value="确认">
      </div>
    </div>
  </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'form','crud'], function(){
        var $ = layui.$,
                form = layui.form,
                crud = layui.crud,
                actReModel = [[${actReModel}]];
        form.val('act-model-form', actReModel);
        crud.setSelect("category","actCategory",actReModel.category);
        form.on('submit(save-submit)', function(data){
            $.ajax({
                type: 'POST',
                url:  ctx + '/actReModel/edit',
                data: JSON.stringify(data.field),
                contentType:'application/json;charset=UTF-8',
                dataType: 'json',
                success: function(result) {
                    layer.msg(result.message);
                    if (result.code == 200) {
                        var index = parent.layer.getFrameIndex(window.name);
                        // 关闭
                        parent.layer.close(index);
                        // 刷新
                        parent.location.reload();
                    }
                }
            });
        });
    })
</script>
</body>
</html>