<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangyouwang.crud.system.mapper.SysDictTypeMapper">
  <resultMap id="BaseResultMap" type="io.github.yangyouwang.crud.system.entity.SysDictType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dictKey" jdbcType="VARCHAR" property="dictKey" />
    <result column="dictName" jdbcType="VARCHAR" property="dictName" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="enabled" jdbcType="VARCHAR" property="enabled" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="DictResultMap" type="io.github.yangyouwang.crud.system.entity.SysDictType">
    <id column="dictId" jdbcType="BIGINT" property="id" />
    <result column="dictKey" jdbcType="VARCHAR" property="dictKey" />
    <result column="dictName" jdbcType="VARCHAR" property="dictName" />
    <result column="dictEnabled" jdbcType="VARCHAR" property="enabled" />
    <result column="dictNum" jdbcType="VARCHAR" property="orderNum" />
    <result column="dictRemark" jdbcType="VARCHAR" property="remark" />
    <collection property="dictValues" javaType="java.util.ArrayList" ofType="io.github.yangyouwang.crud.system.entity.SysDictValue">
      <id column="dictValueId" jdbcType="BIGINT" property="id" />
      <result column="dictTypeId" jdbcType="BIGINT" property="dictTypeId"/>
      <result column="dictValueKey" jdbcType="VARCHAR" property="dictValueKey"/>
      <result column="dictValueName" jdbcType="VARCHAR" property="dictValueName"/>
      <result column="dictValueNum" jdbcType="BIGINT" property="orderNum"/>
      <result column="dictValueRemark" jdbcType="VARCHAR" property="remark"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, dict_key, dict_name, order_num, enabled, create_by, create_time, update_by, update_time, 
    remark
  </sql>
  <!-- 根据字典类型key查询字典 -->
  <select id="findDictByKey" parameterType="string" resultMap="DictResultMap">
    select dt.id as dictId,
           dt.dict_key as dictKey,
           dt.dict_name as dictName,
           dt.enabled as dictEnabled,
           dt.order_num as dictNum,
           dt.remark as dictRemark,
           dv.id as dictValueId,
           dv.dict_type_id as dictTypeId,
           dv.dict_value_key as dictValueKey,
           dv.dict_value_name as dictValueName,
           dv.order_num as dictValueNum,
           dv.remark as dictValueRemark
    from sys_dict_type dt
    left join sys_dict_value dv on dt.id = dv.dict_type_id
    where dt.deleted = 0 and dt.enabled = 'Y' and dt.dict_key = #{dictKey}
    order by dv.order_num asc
  </select>
    <!-- 自定义字典列表查询-->
    <select id="selectDictPage"  resultMap="DictResultMap">
    select dt.id as dictId,
           dt.dict_key as dictKey,
           dt.dict_name as dictName,
           dt.enabled as dictEnabled,
           dt.order_num as dictNum,
           dt.remark as dictRemark,
           dv.id as dictValueId,
           dv.dict_type_id as dictTypeId,
           dv.dict_value_key as dictValueKey,
           dv.dict_value_name as dictValueName,
           dv.order_num as dictValueNum,
           dv.remark as dictValueRemark
    from sys_dict_type dt
    left join sys_dict_value dv on dt.id = dv.dict_type_id
        <if test="ew.emptyOfWhere == true">
            where dt.deleted = 0
        </if>
        <if test="ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
            and dt.deleted = 0
        </if>
    order by dv.order_num asc
    </select>
</mapper>