<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangyouwang.crud.system.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="io.github.yangyouwang.crud.system.model.SysUserRole">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, role_id
  </sql>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into sys_user_role (
        user_id,role_id
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
        #{item.userId},#{item.roleId}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE
    user_id=values(user_id),
    role_id=values(role_id)
  </insert>

</mapper>