<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>添加任务日志</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-form" lay-filter="jobLogForm" id="jobLogForm">
        <div class="layui-form-item">
          <label class="layui-form-label">任务名称</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="taskName" placeholder="请输入任务名称"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">任务组名</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="taskGroup" placeholder="请输入任务组名"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">调用目标字符串</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="invokeTarget" placeholder="请输入调用目标字符串"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">调用目标参数</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="invokeParam" placeholder="请输入调用目标参数"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">日志信息</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="taskMessage" placeholder="请输入日志信息"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">执行状态：0 正常、1 失败</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="status" placeholder="请输入执行状态：0 正常、1 失败"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">异常信息</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="exceptionInfo" placeholder="请输入异常信息"/>
          </div>
        </div>
      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="save-submit" id="save-submit" value="确认">
      </div>
    </div>
  </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
     index: 'lib/index', //主入口模块
  }).use(['index', 'form','crud'], function(){
    let $ = layui.$,
            form = layui.form,
            crud = layui.crud;
    form.on('submit(save-submit)', function(data) {
      $.ajax({
        type: 'POST',
        url:  ctx + '/qrtz/jobLog/add',
        data: JSON.stringify(data.field),
        contentType:'application/json;charset=UTF-8',
        dataType: 'json',
        success: function(result) {
          layer.msg(result.message);
          if (result.code === 200) {
            let index = parent.layer.getFrameIndex(window.name);
            // 关闭
            parent.layer.close(index);
            // 刷新
            parent.location.reload();
          }
        }
      });
    });
  });
</script>
</body>
</html>