<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>编辑通知公告表</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-form" lay-filter="noticeForm" id="noticeForm">
      <input type="hidden" name="id" id="id">
        <div class="layui-form-item">
          <label class="layui-form-label">标题</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="noticeTitle" placeholder="请输入标题"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">公告类型（1通知 2公告）</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="noticeType" placeholder="请输入公告类型（1通知 2公告）"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">公告状态（0正常 1关闭）</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="noticeStatus" placeholder="请输入公告状态（0正常 1关闭）"/>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">内容</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="noticeContent" placeholder="请输入内容"/>
          </div>
        </div>
      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="save-submit" id="save-submit" value="确认">
      </div>
    </div>
  </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
     index: 'lib/index', //主入口模块
  }).use(['index', 'form','crud'], function(){
    let $ = layui.$,
            form = layui.form,
            crud = layui.crud,
            notice = [[${notice}]];
    form.val('noticeForm',notice);
    // 编辑
    form.on('submit(save-submit)', function(data) {
      $.ajax({
        type: 'POST',
        url:  ctx + '/app/notice/modify',
        data: JSON.stringify(data.field),
        contentType:'application/json;charset=UTF-8',
        dataType: 'json',
        success: function(result) {
          layer.msg(result.message);
          if (result.code === 200) {
            let index = parent.layer.getFrameIndex(window.name);
            // 关闭
            parent.layer.close(index);
            // 刷新
            parent.location.reload();
          }
        }
      });
    });
  });
</script>
</body>
</html>