<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>表单构建</title>
    <link rel="stylesheet" th:href="@{/static/lib/jq-ui/jquery-ui.min.css}" media="all">
</head>
<body>
<div class="build-wrap"></div>
<script th:src="@{/static/lib/jq/jquery-2.1.4.min.js}"></script>
<script th:src="@{/static/lib/jq-ui/jquery-ui.min.js}"></script>
<script th:src="@{/static/lib/form-builder/form-builder.min.js}"></script>
<script th:src="@{/static/lib/form-builder/form-render.min.js}"></script>
<script th:inline="javascript">
    $(function (){
        $('.build-wrap').formBuilder()
    });
</script>
</body>
</html>