<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <title>角色列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
              <input type="text" name="roleName" placeholder="请输入角色名称" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">角色别名</label>
            <div class="layui-input-block">
              <input type="text" name="roleKey" placeholder="请输入角色别名" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button sec:authorize="hasAuthority('role:add')" class="layui-btn layuiadmin-btn-useradmin" data-type="addView">添加</button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <table id="roleTable" lay-filter="roleTable"></table>
        <script type="text/html" id="tableBar">
          <a sec:authorize="hasAuthority('role:edit')" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a sec:authorize="hasAuthority('role:del')" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>
  <script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
  <script th:inline="javascript">
  var ctx = [[${#request.getContextPath()}]];
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function() {
      var $ = layui.$
          ,form = layui.form
          , table = layui.table;
      //监听搜索
      form.on('submit(search)', function(data){
          var field = data.field;
          //执行重载
          table.reload('roleTable', {
              where: field
          });
      });
      // 查询列表接口
      table.render({
          elem: '#roleTable'
          ,height: 'full-110'
          ,url:  ctx + '/sysRole/list'
          ,page: true //开启分页,
          ,limit: 10 // 多少条
          ,request: {
            pageName: 'pageNum', //页码的参数名称，默认：page
            limitName: 'pageSize' //每页数据量的参数名，默认：limit
          }
          ,parseData: function (result) {
              return {
                   "code":result.code,
                   "count": result.data.totalElements,
                   "data": result.data.content
              }
          }
          ,response: {
               statusCode: 200 //成功的状态码，默认：0
          }
          ,cols: [[ //表头
              {field: 'id', title: 'ID', sort: true, fixed: 'left'}
              ,{field: 'roleName', title: '角色名称'}
              ,{field: 'roleKey', title: '角色别名'}
              ,{field: 'remark', title: '备注'}
              ,{toolbar: '#tableBar', title: '操作', width: 165, align:'center',fixed: 'right'}
          ]]
      });

      //监听行工具事件
      table.on('tool(roleTable)', function(obj){
          var data = obj.data //获得当前行数据
              ,layEvent = obj.event;
          if(layEvent === 'edit'){
              active.editView(data.id);
          } else if(layEvent === 'del'){
              active.del(data.id);
          }
      });

      $('.layui-btn').on('click', function(){
          var type = $(this).data('type');
          active[type] && active[type].call(this);
      });

      /* 触发弹层 */
      var active = {
          /**
           * 添加
           * */
          addView: function(){
              layer.open({
                  type: 2,
                  title: "添加角色",
                  content: ctx + '/sysRole/addPage'
                  ,maxmin: true
                  ,area: ['500px', '600px']
                  ,btn: ['确定', '取消']
                  ,yes: function(index, layero){
                      var submit = layero.find('iframe').contents().find('#save-submit');
                      submit.trigger('click');
                  }
              });
          },
          /**
           * 编辑
           * @param id id
           * */
          editView: function(id){
              layer.open({
                  type: 2
                  ,title: '修改角色'
                  ,content: ctx + '/sysRole/editPage/' + id
                  ,maxmin: true
                  ,area: ['500px', '600px']
                  ,btn: ['确定', '取消']
                  ,yes: function(index, layero){
                      var submit = layero.find('iframe').contents().find('#save-submit');
                      submit.trigger('click');
                  }
              });
          },
          /**
           * 删除
           * @param id id
           */
          del: function(id){
              layer.confirm('真的删除行么', function(index){
                  //向服务端发送删除指令
                  $.ajax({
                      type: 'DELETE',
                      url:  ctx + '/sysRole/del/' + id,
                      contentType:'application/json;charset=UTF-8',
                      dataType: 'json',
                      success: function(result) {
                          layer.msg(result.message);
                          if (result.code == 200) {
                              layer.close(index);
                              table.reload('roleTable');
                          }
                      }
                  });
              });
          }
      }
  });
  </script>
</body>
</html>
