<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
              <input type="text" name="userName" placeholder="请输入" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <table id="userTable" lay-filter="userTable"></table>
        <script type="text/html" id="tableBar">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>
  <script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
  <script th:inline="javascript">
  var ctx = [[${#request.getContextPath()}]];
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function() {
      var $ = layui.$
          ,form = layui.form
          , table = layui.table;


      //监听搜索
      form.on('submit(search)', function(data){
          var field = data.field;
          //执行重载
          table.reload('userTable', {
              where: field
          });
      });


      // 查询列表接口
      table.render({
          elem: '#userTable'
          ,height: 'full-110'
          ,url:  ctx + '/sysUser/list'
          ,page: true //开启分页,
          ,limit: 10 // 多少条
          ,request: {
            pageName: 'pageNum', //页码的参数名称，默认：page
            limitName: 'pageSize' //每页数据量的参数名，默认：limit
          }
          ,parseData: function (result) {
              return {
                   "code":0,
                   "count": result.totalElements,
                   "data": result.content
              }
          }
          ,cols: [[ //表头
              {field: 'id', title: 'ID', sort: true, fixed: 'left'}
              ,{field: 'avatar', title: "头像",
                  templet:function (d) { return '<div><img alt="" width="50%" height="50%" src='+d.avatar+'></div>' }
              }
              ,{field: 'userName', title: '账户'}
              ,{field: 'email', title: '邮箱'}
              ,{field: 'phonenumber', title: '手机号码'}
              ,{field: 'sex', title: "性别",
                  templet:function (d) { 
                    if (d.sex == 0) {
                        return "男";
                    } else if (d.sex == 1) {
                        return "女";
                    } else {
                        return "未知";
                    }
                  }
               }
              ,{field: 'enabled', title: '是否启用',
                  templet:function (d) {
                      if (d.enabled == 1) {
                          return "是";
                      } else {
                          return "否";
                      }
                  }
              }
              ,{toolbar: '#tableBar', title: '操作', width: 165, align:'center',fixed: 'right'}
          ]]
      });

      //监听行工具事件
      table.on('tool(userTable)', function(obj){
          var data = obj.data //获得当前行数据
              ,layEvent = obj.event;
          if(layEvent === 'edit'){
              layer.open({
                  type: 2
                  ,title: '修改用户'
                  ,content: ctx + '/sysUser/editPage/' + data.id
                  ,maxmin: true
                  ,area: ['500px', '450px']
                  ,btn: ['确定', '取消']
                  ,yes: function(index, layero){
                      var iframeWindow = window['layui-layer-iframe'+ index]
                          ,submitID = 'save-submit'
                          ,submit = layero.find('iframe').contents().find('#'+ submitID);
                      //监听提交
                      iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                          //请求添加接口
                          $.ajax({
                              type: 'POST',
                              url:  ctx + '/sysUser/edit',
                              data: JSON.stringify(data.field),
                              contentType:'application/json;charset=UTF-8',
                              dataType: 'json',
                              success: function(result) {
                                  layer.msg(result.message);
                                  if (result.code == 200) {
                                      table.reload('userTable'); //数据刷新
                                      layer.close(index); //关闭弹层
                                  }
                              }
                          });

                      });
                      submit.trigger('click');
                  }
              });
          } else if(layEvent === 'del'){
              layer.confirm('真的删除行么', function(index){
                  //向服务端发送删除指令
                  $.ajax({
                      type: 'DELETE',
                      url:  ctx + '/sysUser/del/' + data.id,
                      contentType:'application/json;charset=UTF-8',
                      dataType: 'json',
                      success: function(result) {
                          layer.msg(result.message);
                          if (result.code == 200) {
                              obj.del();
                              layer.close(index);
                          }
                      }
                  });
              });
          }
      });

      $('.layui-btn').on('click', function(){
          var type = $(this).data('type');
          active[type] && active[type].call(this);
      });

      /* 触发弹层 */
      var active = {
          add: function(){
              layer.open({
                  type: 2
                  ,title: '添加用户'
                  ,content: ctx + '/sysUser/addPage'
                  ,maxmin: true
                  ,area: ['500px', '450px']
                  ,btn: ['确定', '取消']
                  ,yes: function(index, layero){
                      var iframeWindow = window['layui-layer-iframe'+ index]
                          ,submitID = 'save-submit'
                          ,submit = layero.find('iframe').contents().find('#'+ submitID);
                      //监听提交
                      iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                          //请求添加接口
                          $.ajax({
                              type: 'POST',
                              url:  ctx + '/sysUser/add',
                              data: JSON.stringify(data.field),
                              contentType:'application/json;charset=UTF-8',
                              dataType: 'json',
                              success: function(result) {
                                  layer.msg(result.message);
                                  if (result.code == 200) {
                                      table.reload('userTable'); //数据刷新
                                      layer.close(index); //关闭弹层
                                  }
                              }
                          });

                      });
                      submit.trigger('click');
                  }
              });
          }
      };
  });
  </script>
</body>
</html>
